* {background-color: rgba(224, 224, 224, 0.795);
    margin: 0;
    padding: 0;
    font-size: 30;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;   
}

.div-box{
    display: inline;
    align-items: center;
}